body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* colors */
  --white-color: #d6d6d6;
  --champagne-color: #bdbdbd;
  --serenity-color: #d17a76;
  --crimson-color: #c35651;
  /* fonts-size */
  --text-size-big: 1.953rem;
  --text-size-medium: 1.563rem;
  --text-size-litle: 1.25rem;
}

#two-section {
  width: 100%;
  background: var(--crimson-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 700px;
}

header {
  height: 80px;
  width: 100%;
}

section {
  width: 100%;
  margin-bottom: 50px;
}

#bible {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

#resultVers {
  width: 90%;
  height: 90%;

  box-sizing: border-box;
  padding: 10px;
  padding-top: 50px;
  border-radius: 5px;
  margin-bottom: 10px;

  background: var(--champagne-color);
  color: var(--crimson-color);

  font-size: var(--text-size-medium);
  font-weight: 500;
}

#selectotes {
  width: 90%;
  height: 50px;

  display: flex;
  align-items: center;
  padding: 0 10px;

  border: var(--crimson-color) solid 2px;
  box-shadow: 5px 5px var(--serenity-color);
}

form {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label {
  font-size: var(--text-size-litle);
  margin-right: 5px;
  color: var(--crimson-color);
  display: flex;
}

input {
  font-size: var(--text-size-litle);
  width: 50px;
  margin-right: 10px;
  border: none;
  color: var(--white-color);
  background: var(--serenity-color);
  padding: 5px;
}

input:focus {
  border: none;
  outline: 0;
}
#book {
  width: 100px;
  text-align: center;
}

input[type='button'] {
  width: 120px;
  border: none;
  height: 40px;
  background-color: var(--crimson-color);
  color: var(--white-color);
  font-size: var(--text-size-litle);
  cursor: pointer;
}

#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

#anotation {
  width: 90%;
  height: 50%;

  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 0;

  background: var(--champagne-color);
  color: var(--crimson-color);

  font-size: var(--text-size-medium);
  font-weight: 400;
}

#editText input :not([value='Salvar']) {
  width: 50px;
}

#editText {
  justify-content: center;
}

label[for^='mar'] {
  background: var(--champagne-color);
}

#fundamentation-anotation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  align-self: center;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border: var(--crimson-color) solid 2px;
  box-shadow: 5px 5px var(--serenity-color);
  background: var(--champagne-color);
  color: var(--white-color);
}

#two-section h1 {
  align-self: flex-start;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  color: var(--champagne-color);
  border: var(--white-color) solid 2px;
  box-shadow: 5px 5px var(--serenity-color);
  background: none;
}

p {
  line-height: 25px;
}
